<ion-view style="background-color: rgb(255, 255, 255);" id="page5" title="Tô de Olho">
    <ion-content class="has-header" padding="false">
        <div style="width: 299px; height: 35px;" class="spacer"></div>
        <a href="tel:" style="display: block;">
            <div style="text-align:center;">
                <img src="img/logo.png" height="200px" width="200px">
            </div>
        </a>
        <div style="width: 283px; height: 21px;" class="spacer"></div>
        <form style="" class="list">
            <label style="" name="estado" class="item item-select">
                <span class="input-label">Estado</span>
                <select>
                  <option></option>
                  <option>Acre</option>
                  <option>Alagoas</option>
                  <option>Amapá</option>
                  <option>Amazonas</option>
                  <option>Bahia</option>
                  <option>Ceará</option>
                  <option>Distrito Federal</option>
                  <option>Espírito Santo</option>
                  <option>Goiás</option>
                  <option>Maranhão</option>
                  <option>Mato Grosso</option>
                  <option>Mato Grosso do Sul</option>
                  <option>Minas Gerais</option>
                  <option>Pará</option>
                  <option>Paraíba</option>
                  <option>Paraná</option>
                  <option>Pernambuco</option>
                  <option>Piauí</option>
                  <option>Rio de Janeiro</option>
                  <option>Rio Grande do Norte</option>
                  <option>Rio Grande do Sul</option>
                  <option>Roraima</option>
                  <option>Santa Catarina</option>
                  <option>São Paulo</option>
                  <option>Sergipe</option>
                  <option>Tocantins</option>
                  <option></option>
                </select>
            </label>
        </form>
        <a class="button button-positive  button-block icon ion-checkmark-round" id="combateACorrupcao-button1" ui-sref="tabsController.obras">  Escolher</a>
    </ion-content>
</ion-view>
