<ion-view style="" id="page8" title="Comentários">
    <ion-content class="has-header" padding="false">
        <form style="" class="list">
            <label style="" class="item item-input"> <!-- Inserção do nome para o comentário-->
                <input placeholder="Digite seu nome" type="text">
            </label>
            <label class="item item-input"> <!-- Inserção do comentário-->
              <textarea placeholder="Nos diga o que você está achando"></textarea>
            </label>
        </form>
        <button class="button button-positive  button-full" id="comentarios-button11">Enviar</button> <!-- Botão enviar-->
        <ion-list style=""> <!-- Área de comentários-->
            <ion-item style="" class="item-divider">Comentários</ion-item>
        </ion-list>
        <ion-list style=""></ion-list>
    </ion-content>
</ion-view>
