<ion-view style="" id="page2" title="Obras">
    <ion-content class="has-header" padding="false">
        <form style="" class="list">
            <label style="" class="item item-input">
              <!-- barra de pesquisa-->
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="" type="search">
            </label>
            <div style="width: 283px; height: 30px;" class="spacer"></div>
            <!-- Cabeçario de obras-->
            <!--Cidade e suas obras -->
            <ion-item style="" class="item-divider">Vitória</ion-item>
            <ion-item style="" ui-sref="tabsController.nomeDaObra" class="item-thumbnail-left">
                <img src="img/obra.png">
                <h2>Aeroporto de Vitória - Novo Complexo Aeroportuário do SBVT</h2>
                <p>VITÓRIA/ES</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/obra.png">
                <h2>Porto de Vitória - Dragagem de aprofundamento - ES</h2>
                <p>VITÓRIA/ES</p>
            </ion-item>
            <!--Cidade e suas obras -->
            <ion-item style="" class="item-divider">Guarapari</ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/obra.png">
                <h2>Implantação do SES em toda a região central de Guarapari </h2>
                <p>GUARAPARI/ES</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/obra.png">
                <h2>Quadras Esportivas nas Escolas - Guarapari - ES - Construção de Quadra</h2>
                <p>GUARAPARI/ES</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>
